  .card__image{
height: 413px;
width: 100%;
border-radius: 2%;
object-fit: cover;
display: block;
}
.card{
list-style-type: none;
max-width: 413px;
}
.card__content{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 12px;
}
.card__like-button{
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}
.cards__list{
  margin: 0;
  font-family: "poppins",arial,sans-serif;
  padding: 0;
  gap: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  margin-bottom: 40px;
}
.card__title{
  margin:0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cards{
  padding-top: 20px;
}
.cards.page__section{
  border-bottom: 1px solid rgba(33,33,33,0.4);
}

@media screen and (max-width:840px){
.cards__list{
  display: grid ;
  grid-template-columns: repeat(auto-fit, 288px);
}
}
.card__like-button:hover{
  background-image: url(../images/Union.svg);
  cursor: url(../images/pointer.svg), pointer;
}