.modal{
  background-color: rgba(33,33,33,0.4);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
  opacity: 0;
  transition:opacity 0.5s linear, visability 0.5s linear;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  max-width: 730px;
  padding:32px 50px;
  position: relative;
  box-sizing: border-box;
  width: 100%;

}
.modal__container_type_preview{
  padding:0;
  background: transparent;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.modal__container-delete{
 padding: 32px 20px;
}

.modal__image{
  max-width:90vw;
  max-height: 80vh;
  border-radius: 8px;

}

.modal__title{
  font-family:"poppins",arial,sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  margin: 0 0 32px;
}

.modal__title-delete{
  font-family:"poppins",arial,sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 32px;

}
.modal__form{
display: flex;
flex-direction: column;
}

.modal__submit-btn{
  background-color: rgba(33,33,33,1);
  width: 156px;
  border-radius: 8px;
  height: 52px;
  color: rgba(252,245,229,1);
  padding: 16px 0;
  font-size: 16px;
  font-family:"poppins",arial,sans-serif;
}

.modal__submit-btn:hover{
  cursor: pointer;
}
.modal__submit-btn:hover:not(.modal__submit-btn_disable) {
  opacity: 0.8;
}

.modal__submit-btn_disable{
  background-color:grey;
  border: grey ;
}
.modal__submit-btn-cancel{
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.modal__submit-btn-delete{
  color: black;
  background-color: rgba(255,101,101,1);
  border-color:rgba(255,101,101,1);
}
.modal__close-btn{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url(../images/close.svg);
  top: 40px;
  right: 40px;
  border: none;
  opacity: 40%;
}
.modal__close-btn:hover{
  opacity: 1;
  cursor: pointer;
  }

.modal__close-btn_type_preview{
  background-image: url(../images/close-icon-preview.svg);
  opacity: 1;
  top: -10px;
  right: -50px;
  position: absolute;
}

.modal__close-btn_type_preview:hover{
  opacity: 0.3;
}

.modal__close-btn-delete{
  background-image: url(../images/close-icon-preview.svg);
  opacity: 1;
  top: -10px;
  right: -50px;
  position: absolute;
}

.modal__caption{
  color: rgba(255, 255, 255, 1);
  font-family: "poppins",arial,sans-serif;
  border: 2px solid rgba(33,33,33,1);
  padding: 4px 8px;
  background-color: rgba(33,33,33,1);
  width: max-content;
  font-size: 20px;
  border-radius: 8px;
  margin: 0;
  white-space: nowrap;
  margin-top: 8px;
  max-width: 100%;
}

.modal__input{
  width: 630px;
  height: 52px;
  border: 1px solid rgba(33,33,33,.4);
  border-radius:8px;
  box-sizing: border-box;
  padding: 16px 12px;
  opacity: 40%;
  width: 100%;
}

.modal__input:hover{
  opacity: 1;
  cursor: pointer;
  }

.modal__input_type_error{
border: 1px solid rgba(255,0,0,0.6);
}

.modal__error{
 font-family:"poppins",arial,sans-serif;
 color:rgba(255,0,0,.7);
 font-weight:500;
 size: 16px;
}
  .modal__label{
  font-family:"poppins",arial,sans-serif;
  display: flex;
  flex-direction: column;
  color:rgba(33,33,33,0.7);
  font-weight: 500;
  font-size: 16px;
  gap: 8px;
  margin-bottom: 32px;

}
.modal__input::placeholder{
  font-family:"poppins",arial,sans-serif ;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
}

@media screen and (max-width:770px) {
.modal {
  padding:0 10px;
}
.modal__container{
padding: 12px;
}
.modal__title{
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0 24px;
  margin: 0;
}
.modal__close-btn{
  top:12px;
  right:12px;
  padding:0;
}
.modal__label{
  margin-bottom: 24px;
}
.modal__submit-btn{
  width: 276px;
  width: 100%;
}
.modal__input::placeholder{
  font-size: 16px;
}
.modal__close-btn_type_preview{
  top: 2px;
  right: -40px;
}
}

@media screen and (max-width:360px){
  .modal{
    background-color: rgba(33,33,33,0.9);
  }
  .modal__close-btn_type_preview{
    top:-50px;
    right:5px;
  }
.modal__container_type_preview{
  padding: 0;
}
.modal__close-btn-delete{
  top: -40px;
}
.modal__title-delete{
  text-align: center ;
}
}